# Archivo .gitignore para ignorar archivos de configuración local

# Ignorar todos los archivos de entorno
.venv

# Ignorar todos los archivos de configuración local
__pycache__/

.vscode/

# Ignorar entorno virtual
# Del backend
./web/backend/.env
# Del frontend
./web/frontend/node_modules
